body{
    background-color: rgb(74, 74, 74);
}

.container{ 
    width:100%;
    margin: 20px auto;
}

h1,h2{
    font-family: "Marcellus", Roboto, sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
}

#title-name{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 
    2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 50px;
}

p,h3{
    font-family: "Jost", Roboto, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.6;
    padding: 5px;
    color: rgb(143 143 143);
}

.txt-quote{
    box-shadow: inset 2px 2px 8px rgba(177, 177, 177, 0.9);
    padding: 15px;
}

.screen{
    background-color: rgb(229 229 229);
    height: 95vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0px 4px 8px rgba(76, 76, 76, 0.8); 
    margin: 10px;
    gap:10px;
}

#profile-pic{
    width: 650px;
    box-shadow: 4px 4px 8px rgba(76, 76, 76, 0.8);
    margin: 10px;
}

.txt{
    flex: 1; 
    max-width: 80%; 
    margin: 30px;
    text-align: center; 
}

.title{
    transform: rotate(-90deg); 
    flex: 0 0 auto; 
    margin: 0; 
    text-align: left; 
    padding: 15px;
    border: 1px solid rgb(192 192 192); 
    background-color: rgb(67, 74, 55);
    color: white;
}

#full-name{
    padding: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s ease-in-out;
    font-size: 30px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icono {
    vertical-align: middle;
    width: 110px; 
    margin: 0 5px;
}

.card{
    margin: 20px;
    padding: 30px;
    box-shadow: 4px 4px 20px rgba(173, 172, 172, 0.8);
}

#timeline{
    height: 650px;
    margin-left: 70px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0; 
    margin: 50px 0;
    box-shadow: 4px 4px 20px rgba(173, 172, 172, 0.8);
}

#logo-escuela{
    width: 100px;
    margin: 20px;
}
#logo-ditella{
    width: 300px;
    margin: 20px;
}

.pic-hobbies{
    width: 200px;
    margin: 5px;
    box-shadow: 4px 4px 20px rgba(173, 172, 172, 0.8);
}

.item-left, .item-right{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 600px;
    padding: 0 20px;
}

.item-left{
    margin:0 30px;
}

.item-right{
    margin-right: 50px;
}

form {
    width: 500px;
}
  
.form-group {
    margin-bottom: 15px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    font-size: 20px;
    font-family: "Jost", Roboto, sans-serif;
    box-sizing: border-box;
    box-shadow: 4px 4px 20px rgba(173, 172, 172, 0.8);
    color: #333;
}

textarea {
    resize: none;
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: #ccc;
}

input[type="submit"] {
    background-color:  rgb(115, 127, 94);
    color: #fff;
    border: none;
    box-shadow: 4px 5px rgba(173, 172, 172, 0.2);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 22px;
    font-family:"Marcellus", Roboto, sans-serif ;
}

input[type="submit"]:hover {
    background-color:rgb(67, 74, 55) ;
}

input[type="text"]:focus, 
textarea:focus {
  border: 2px solid rgb(115, 127, 94);
  outline: none; 
  box-shadow: 0 0 5px rgba(67, 74, 55, 0.5); 
}

.github-icon{
    margin: 0 30px;
}

.github-icon svg {
    transition: fill 0.3s ease; 
    fill: #5F5F5F; 
}

.github-icon:hover svg {    
    fill: #2c2c2c; 
}

.gmail-icon svg {
    transition: fill 0.3s ease, background-color 0.3s ease; 
}

.gmail-icon:hover svg path:first-child {
    fill:  #2c2c2c; 
}

.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px;
    padding: auto;
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-50px); 
      opacity: 0; 
    }
    100% {
      transform: translateY(0); 
      opacity: 1; 
    }
}

.-landing {
    opacity: 0; 
    animation: slideInFromTop 1s ease-out forwards;
}

.-landing .txt, .-landing h1, .-landing p {
    animation: slideInFromTop 1s ease-out forwards;
    opacity: 0; 
    animation-delay: 0.2s; 
}

@media (max-width:800px) {
    .screen{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    
    #profile-pic{
        width: 250px;
    }
    .h1, .h2{
        font-size: medium;
    }
    .p, .h3{
        font-size: small;
    }
    .title{
        transform: rotate(0deg); 
        font-size: medium;
    }
    #full-name{
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        animation: fadeIn 2s ease-in-out;
    }
    .icono{
        width: 50px;
    }

    #timeline{
        height: 450px;
        transform: rotate(-90deg);
        margin: 0;
    }
    .item{
        flex-direction: column-reverse;
        width: 500px;
        padding: 10px;
    }
    .-item{
        display: flex;
        gap: 10px;
    }
    #logo-escuela{
        width: 50px;
        margin: 20px;
    }
    #logo-ditella{
        width: 100px;
        margin: 20px;
    }
    .pic-hobbies{
        width: 100px;
    }
    
}